@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #323744;  /* Exemple de couleur de fond */
  --foreground: 213 18% 71%  ;  /* Exemple de couleur du texte */
  --muted: #2C3546;      
  --muted-foreground: #7A7D89;     
  --popover: #2A2F3A;     
  --popover-foreground:#A5AFC2;      
  --card: #242B3F;      
  --card-foreground: #8E9BBA;      
  --border: #0C0F19;      
  --input: #0A0C14;     
  --primary: #A5AFC2;      
  --primary-foreground: #3A3C47;     
  --secondary: #3F4A6B;      
  --secondary-foreground: #A6B6C8;      
  --accent:#17181a;      
  --accent-foreground: #BCC5D1;      
  --destructive: #FF5C6B;      
  --destructive-foreground: #FFFFFF;     
  --ring: #A5AFC2;    
  --radius: 0.5rem;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
