@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 214 44% 2%;
  --foreground: 214 38% 99%;
  --muted: 334 33% 10%;
  --muted-foreground: 334 4% 60%;
  --popover: 214 44% 3%;
  --popover-foreground: 0 0% 100%;
  --card: 214 44% 3%;
  --card-foreground: 0 0% 100%;
  --border: 214 14% 10%;
  --input: 214 14% 10%;
  --primary: 214 85% 32%;
  --primary-foreground: 214 85% 92%;
  --secondary: 334 85% 32%;
  --secondary-foreground: 334 85% 92%;
  --accent: 0 0% 30%;
  --accent-foreground: 0 0% 100%;
  --destructive: 10 94% 60%;
  --destructive-foreground: 0 0% 0%;
  --ring: 214 85% 32%;
  --radius: 0.5rem;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

@layer components {
  .border {
    border-width: 1px;
    border-style: solid;
    border-color: hsl(var(--border));
  }

  .bg-card {
    background-color: hsl(var(--card));
  }

  .text-card-foreground {
    color: hsl(var(--card-foreground));
  }

  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}